body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.Nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
  justify-content: flex-start;
}

.NavMenu {
  display: flex;
  align-items: center;
  margin-right: -24px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.centerDiv {
  margin-left: 30%;
  align-items: center;
}

.container {
  font-family: "Lato";
  margin: 20px;
  max-width: 600px;
  min-height: 300px;
  border: 1px solid rgb(54, 61, 67);
  background-color: rgb(207, 245, 215);
  border-radius: 10px;
  padding: 20px;
  padding-left: 10px;
}

.validBlock {
  background-color: rgb(207, 245, 215);
}
.invalidBlock {
  background-color: rgb(253, 184, 184);
}

.SHAcontainer {
  font-family: "Helvetica";
  max-width: 670px;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(23, 79, 124);
  background-color: rgb(247, 247, 247);
  padding: 30px;
  border-radius: 10px;
}

.verifyContainer {
  font-family: "Helvetica";
  /* margin: 20px; */
  max-width: 850px;
  min-height: 500px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  padding: 20px;
  padding-left: 10px;
  margin-left: 20%;
  align-items: center;
}

.keyContainer {
  font-family: "Helvetica";
  max-width: 860px;
  margin: 50px auto;
  overflow: auto;
  min-height: 150px;
  border: 1px solid rgb(23, 79, 124);
  background-color: rgb(247, 247, 247);
  padding: 30px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  background: rgb(91, 152, 201);
  color: #fff;
  border: none;
  margin: 7px;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.toppic {
  max-width: 800px;
  margin: 20px;
  overflow: auto;
  min-height: 50px;
}

.sha256Data {
  width: 600px;
  height: 200px;
}

.blockData {
  margin-left: 10px;
  width: 550px;
  height: 200px;
  resize: none;
}

.blockMessage {
  margin-left: 10%;
  margin-bottom: 10px;
  /* margin: 10%; */
  width: 700px;
  height: 200px;
  resize: none;
}

.keyInput {
  margin: 3px;
  width: 600px;
  height: 30px;
}

.keySignInput {
  margin: 3px;
  width: 700px;
  height: 30px;
}

.keySignInputDisabled {
  margin: 3px;
  margin-left: 7px;
  width: 703px;
  height: 30px;
}

.inputSHALength {
  margin-left: 10px;
  width: 520px;
}

.inputTxLength {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

.inputBlockLength {
  margin-left: 10px;
  margin-top: 5px;
  width: 550px;
}

.blocklbl {
  padding: 8px;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.card {
  flex: 0 0 auto;
}

.tableRow {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.tableLbl {
  min-width: 30px;
  text-align: center;
  border: 1px solid black;
}

.lineSeparator {
  margin-bottom: 10px;
}

.longBTN {
  display: inline-block;
  background: rgb(91, 152, 201);
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 90px;
  text-align: center;
  font-family: inherit;
  width: 700px;
}
