body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.Container {
  max-width: 500px;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  background-color: gainsboro;
  padding: 30px;
  border-radius: 10px;
}

.SHAcontainer {
  max-width: 800px;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  background-color: gainsboro;
  padding: 30px;
  border-radius: 10px;
}

.grid-container-dist {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 400px 400px;
  font-family: "Lato";
  text-align: center;
  font-size: 1.4em;
  margin: 40px 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  font-family: "Lato";
  text-align: center;
  font-size: 1.4em;
  margin: 40px 30px;
}

.grid-item {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 20px 40px;
  align-self: start;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.Nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
  justify-content: flex-start;
}

.NavMenu {
  display: flex;
  align-items: center;
  margin-right: -24px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.toppic {
  max-width: 800px;
  margin: 10px auto;
  overflow: auto;
  min-height: 50px;
}
